---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="We were currently on Dev mode" id="intro">
 
  <Fragment slot="lead">
    Something <span class="text-primary"></span>big</span> is coming soon.


  </Fragment>

</ContentSection>
